<section class="general-contact">
    <div class="center-text">
        <h2>Contáctanos</h2>
      </div>
<div class="contact-in">
    <div class="contact-map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d127258.26429454064!2d-74.28579568862915!3d4.626046294262076!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f9f579764e4ab%3A0x8f49d4d48ce18408!2sSalsamentaria%20La%20Esperanza!5e0!3m2!1ses!2sco!4v1673539410124!5m2!1ses!2sco" width="100%" height="auto" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
        <div class="contact-form">
            <h1>O... ¡Deja que nosotros te contáctemos!</h1>
            <form>
                <input type="text" placeholder="Nombre" class="contact-form-txt"/>
                <input type="text" placeholder="Correo" class="contact-form-txt"/>
                <textarea placeholder="Mensaje" class="contact-form-textarea"></textarea>
                <input type="submit" name="Enviar" class="contact-form-btn"/>
            </form>
    </div>
</div>
</section>