<!---------- Welcome ---------->

<section class="grid-container">
  <div class="home-text">
    <h3>Bienvenidos a</h3>
    <h1>Salsamentaria <br>
      La Esperanza</h1>
      <p>Te ofrecemos una amplia variedad de productos listos para<br>compartir con tu familia, amigos y porque no, en esta época navideña.
        <br>
        ¡Déjate sorprender por los deliciosos embutidos La Esperanza!</p>
      <div class="social">
        <a href="https://web.whatsapp.com/send?phone=573185702999&text=¡Hola! Quisiera más información de sus productos." target="_blank"><i class='bx bxl-whatsapp'></i></a>
        <a href="https://www.facebook.com/salsamentaria.laesperanza" target="_blank"><i class='bx bxl-facebook'></i></a>
        <a href="https://www.instagram.com/salsamentaria.laesperanza/" target="_blank"><i class='bx bxl-instagram'></i></a>
      </div>
      <a href="https://web.whatsapp.com/send?phone=573185702999&text=¡Hola! Quisiera más información de sus productos." target="_blank" class="btn">Escríbenos</a>
  </div>

  <div class="home-img">
    <img src="../../../assets/img/welcome-.png"> 
  </div>
</section>