/* HOME */

    $--bg-color: #FFFFFF;
    $--second-color: #74AB2C;
    $--main-color: #016f32;
    $--text-color: #000000;
    $---big-font: 4.5rem;
    $--h3-font: 2.625rem;
    $--p-font: 1rem;

    .grid-container{
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        grid-gap: 4rem;
    }


h1{
    margin: 20px 0px 20px;
    font-size: $---big-font;
    line-height: 1.1;
}

h3{
    color: $--second-color;
    font-size: $--h3-font;
    font-weight: 500;
}

p{
    font-size: 18px;
    color: $--text-color;
    line-height: 27px;
    font-weight: 400;
    margin-bottom: 30px;
}

.social a{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: $--bg-color;
    font-size: 35px;
    color: $--second-color;
    margin-right: 15px;
    margin-bottom: 30px;
}

.social a:hover{
    transform: scale(1.1);
    color: $--main-color;
    transition: .5s;
}

.btn{
    display: inline-block;
    color: $--bg-color;
    background: $--main-color;
    font-size: $--p-font;
    padding: 10px 40px;
    font-weight: 400;
    line-height: 24px;
    border-radius: 45px;
    transition: ease .40s;
}

.btn:hover{
    transform: scale(1.1);
    transition: .5s;
}

@media (min-width: 360px){
    .grid-container{
        padding: 16px;
        transition: .3s;
    }

}