<section class="about" id="about">
    
    <div class="about-img">
      <img src="../../../assets/img/nosotros (1).png">
    </div>

    <div class="about-text">
      <h3>Sobre Nosotros</h3>
      <br>
      <br>
      <p>Somos una marca tradicional y familiar, ofreciéndote una amplia <br> 
        variedad de embutidos pensados para compartir con los tuyos. <br>
        Utilizamos técnicas y recetas que transmiten todo el sabor y <br> 
        aroma de nuestra tradición cárnica. Nuestros productos son el <br>
        resultado de años de experiencia y pasión por las carnes, es por <br>
        ello que estamos seguros que te encantarán. 
          <br>
          <br>¡Te invitamos a probarlos y descubrir por qué son tan especiales!
      </p>
    </div>
  </section>