<!---------- Footer ---------->

<section class="section" id="contact">
    <div class="footer">
      <div class="main">
        <div class="list">
          <h4>Links rápidos</h4>
          <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Nosotros</a></li>
            <li><a href="#">Nuestros Productos</a></li>
            <li><a href="#">Recetas</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>
        </div>

        <div class="list">
          <h4>Información de Contacto</h4>
          <ul>
            <li><a href="#">Bogotá, Kennedy Calle 36 Sur #78P - 10</a></li>
            <li><a href="#">salsamentarialaesperanza@gmail.com</a></li>
            <li><a href="#">(+57) 311 511 12 22</a></li>
            <li><a href="#">Recetas</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>
        </div>

        <div class="list">
          <h4>Síguenos</h4>
          <div class="social-footer">
            <a href="#"><i class='bx bxl-whatsapp'></i></a>
            <a href="#"><i class='bx bxl-facebook'></i></a>
            <a href="#"><i class='bx bxl-instagram'></i></a>
          </div>
        </div>
      </div>
    </div>

    <!---------- Scroll ---------->

    <a (click)="onTopBtn()" class="scroll-top"><i class='bx bx-chevrons-up'></i></a>

    <div class="end-text">
     <p>Copyright ©2022 | Made with by Francesca Encore</p>
    </div>
   </section>