
    $--bg-color: #FFFFFF;
    $--second-color: #74AB2C;
    $--main-color: #016f32;
    $--text-color: #000000;
    $--other-color: #DF1E26;
    $--text-grey: #BBBECC;
    $--text-darkg: #959595;
    $---big-font: 4.5rem;
    $--h1-font: 4rem;
    $--h2-font: 3.5rem;
    $--h3-font: 2.625rem;
    $--p-font: 1rem;
