<!---------- Recipes ---------->

<section class="section recipe" id="recipe">
    <div class="center-text">
      <h2>Recetas Destacadas</h2>
    </div>
    
    <div class="recipe-content">
      <div class="first">
        <img src="../../../assets/img/blog1.png">
        <div class="recipe-text">
          <h6>Mayo 16, 2022</h6>
          <h4>Hamburguesa Ranchera</h4>
          <p>¿Buscas una hamburguesa con verdadero sabor mexicano? ¡Mira como prepararla!</p>
          
          <div class="recipe-btn">
            <a href="#">Ver más</a>
            <span><i class='bx bx-right-arrow-alt' ></i></span>
          </div>
        </div>
      </div>
      
      
      <div class="first">
        <img src="../../../assets/img/blog2.png">
        <div class="recipe-text">
          <h6>Julio 13, 2022</h6>
          <h4>Shangwich</h4>
          <p>¿Estás buscando una receta fácil pero con mucho sabor? Ven y disfruta de nuestro Shangwich con Jamoncito Ahumado</p>
          
          <div class="recipe-btn">
            <a href="#">Ver más</a>
            <span><i class='bx bx-right-arrow-alt' ></i></span>
          </div>
        </div>
      </div>
      
      
      <div class="first">
        <img src="../../../assets/img/blog3.png">
        <div class="recipe-text">
          <h6>Septiembre 02, 2022</h6>
          <h4>Arroz con Posho y Salchichas</h4>
          <p>Se te olvidó el almuerzo del niño, ¡te tenemos la solución!</p>
          
          <div class="recipe-btn">
            <a href="#">Ver más</a>
            <span><i class='bx bx-right-arrow-alt' ></i></span>
          </div>
        </div>
      </div>
      
      
      <div class="first">
        <img src="../../../assets/img/blog4.png">
        <div class="recipe-text">
          <h6>Noviembre 21, 2022</h6>
          <h4>Pancho Mexicano</h4>
          <p>¿Quieres sentir el sabor latino? ¡Te enseñamos a cómo prepararte un pancho con pan de ajo y chorizo méxicano!</p>
          
          <div class="recipe-btn">
            <a href="#">Ver más</a>
            <span><i class='bx bx-right-arrow-alt' ></i></span>
          </div>
        </div>
      </div>
    </div>
  </section>
